:host {
  display: block;
  background-color: #E3F2FD;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-success {
  background-color: #81c784;
  border: none;
}

.btn-success:hover {
  background-color: #66BB6A;
}

.text-success {
  color: #2E7D32;
}

.text-danger {
  color: #D32F2F;
}

.text-warning {
  color: #E65100;
}

.text-success,
.text-danger,
.text-warning {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 576px) {
  .card {
    width: 80%;
    max-width: 280px;
    height: auto;
    padding: 15px;
  }

  .text-success,
  .text-danger,
  .text-warning {
    justify-content: center;
    text-align: center;
    font-size: 14px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-text {
    font-size: 14px;
  }

  .rut-input,
  .rut-button {
    width: 100%;
  }
}

/* Estilos para el spinner */
.spinner-border {
  width: 3rem;
  height: 3rem;
}